body {
    background-color: cornflowerblue;
}

main {
    max-width: 960px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

#cont1 {
    background-color: gold;

}
#cont2 {
    background-color: silver;

}

#cont3 {
    background-color: saddlebrown;
}